/* in lesson 18 change all px to rem */
/* lession 6 */
/* resets */
*,
*::after,
*::before {
  /* resests margin */
  margin: 0;
  /* resets padding */
  padding: 0;
  /* the total height and width are not added to the box */
  /* lesson 18 */
  /* box-sizing: border-box; */
  box-sizing: inherit; }

/* lesson 18 */
html {
  font-size: 62.5%; }

/* lession 6 */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* lesson 18 comment font-size out */
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* lesson 18 */
  box-sizing: border-box; }

/* lession 6 */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

/* lession 7 */
.header__logobox {
  position: absolute;
  top: 4rem;
  left: 4rem; }

/* lession 7 */
.header__logo {
  height: 3.5rem; }

/* lesson 8 */
/* .logo:hover{
  animation: moveInRight 1s ease-in;
} */
/* lession 7 */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* this will subtract 50% from parent element */
  transform: translate(-50%, -50%);
  /* lesson 9 */
  /* it will aligh all text inside this dive to the center */
  text-align: center; }

/* lession 7 */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* lesson 8 */
  /* fixing animation shack */
  backface-visibility: hidden;
  /* lesson 9 */
  margin-bottom: 6rem; }

/* lession 7 */
.header-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* lesson 8 */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
  lesson 8(makes animation delay 3secs)
  animation-delay: 3s;

  lesson 8(animation plays 3 time)
  animation-iteration-count: 3;
  */ }

/* lession 7 */
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  /* lesson 8 */
  animation-duration: 1s;
  animation: moveInRight 1s ease-out; }

/* lesson 8 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /*
  60%{
    transform: rotate(180deg);
  } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* lesson 8 */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* lesson 10 */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* lesson 9 */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  /* gives the elemen its own space */
  /* lesson 9 */
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
  /* lesson 10 */
  position: relative; }

/* lesson 9 */
.btn:hover {
  transform: translateY(-0.3rem);
  /* the first direction is the x the second is the bottom
  third is the blure*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

/* lesson 9 */
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* lesson 9 */
.btn--white {
  background-color: #fff;
  color: gray; }

/* lesson 10 */
.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

/* lesson 10 */
.btn--white::after {
  background-color: #fff; }

/* lesson 10 */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

/* lesson 10 */
.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
